.lanyard-wrapper {
  position: relative;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1);
  transform-origin: center;
}

.lanyard-wrapper canvas {
  max-width: none !important;
  max-height: none !important;
}
